<div class="sidebar" [class.active]="opened">
    <ul class="nav-list">
        <li>
            <a href="">
                <i class="bx bx-home bx-sm"></i>
                <span class="list-name">Home</span>
            </a>
            <!-- <span class="tool-tip">Home</span> -->
        </li>
        <li>
            <a routerLink="">
                <i class="bx bxs-user bx-sm"></i>
                <span class="list-name">Civilian</span>
            </a>
            <!-- <span class="tool-tip">Civilian</span> -->
        </li>
        <li>
            <a href="">
                <i class="bx bxs-landscape bx-sm"></i>
                <span class="list-name">Disaster</span>
            </a>
            <!-- <span class="tool-tip">Disaster</span> -->
        </li>
        <li>
            <a href="">
                <i class="bx bx-money bx-sm"></i>
                <span class="list-name">Fund</span>
            </a>
            <!-- <span class="tool-tip">Fund</span> -->
        </li>
    </ul>
</div>