/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~boxicons/css/boxicons.css";

.body {
  position: relative;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.btn-action {
  width: 70px;
  padding: 1px;
  margin: 0px;
}

.action {
  width: 240px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form-control.ng-invalid.ng-touched {
  border: 2px solid red;
}
