<div class="d-flex justify-content-center">
    <div class="col-11">
        <div class="row">
            <h2 class="py-4 heading">Create Civilian</h2>
        </div>
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control form-control-sm" id="firstName" placeholder="First Name">
                </div>
                <div class="form-group col-md-6">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control form-control-sm" id="lastName"
                        placeholder="Last Name / Surname">
                </div>
            </div>
            <!-- /.first name last name  -->

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="name">Date of Birth</label>
                    <div class="input-group">
                        <input type="text" name="dateOfBirth" class="form-control form-control-sm"
                            placeholder="yyyy-mm-dd" [(ngModel)]="selectedDate" ngbDatepicker #d="ngbDatepicker" />
                        <span class="input-group-text" (click)="d.toggle()">
                            <i class="bx bx-calendar"></i>
                        </span>
                    </div>
                </div>
                <!-- /.Date of Birth -->
                <div class="form-group col-md-6">
                    <label for="nid">National Identity Number</label>
                    <input type="text" class="form-control form-control-sm" id="nid" placeholder="12 digits format">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control form-control-sm" id="phone" placeholder="Phone Number">
                </div>
                <div class="form-group col-md-6">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control form-control-sm" id="email" placeholder="user@example.com">
                </div>
            </div>
            <!-- /.phone and email  -->
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="gender">Gender</label>
                    <div class="row col-12">
                        <div class="col-lg-5 form-check">
                            <input type="radio" class="form-check-input" name="gender" id="male" />
                            <label class="form-check-label" for="male">Male</label>
                        </div>
                        <div class="col-lg-5 form-check">
                            <input type="radio" class="form-check-input" name="gender" id="female" />
                            <label class="form-check-label" for="female">Female</label>
                        </div>
                    </div>
                </div>
                <!-- Gender -->
                <div class="form-group col-md-6">
                    <label for="gender">Material Status</label>
                    <div class="row col-12">
                        <div class="col-lg-3 form-check">
                            <input type="radio" class="form-check-input" name="status" id="single" />
                            <label class="form-check-label" for="single">Single</label>
                        </div>
                        <div class="col-lg-3 form-check">
                            <input type="radio" class="form-check-input" name="status" id="married" />
                            <label class="form-check-label" for="married">Married</label>
                        </div>
                        <div class="col-lg-3 form-check">
                            <input type="radio" class="form-check-input" name="status" id="divorce" />
                            <label class="form-check-label" for="divorce">Divorce</label>
                        </div>
                        <div class="col-lg-3 form-check">
                            <input type="radio" class="form-check-input" name="status" id="windowed" />
                            <label class="form-check-label" for="windowed">Windowed</label>
                        </div>
                    </div>
                </div>
                <!-- /.material Status -->
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="jobType">Job Type</label>
                    <select class="custom-select custom-select-sm" id="jobType">
                        <!-- use API get the data -->
                        <option selected>--select--</option>
                        <option value="1">Goverment</option>
                        <option value="2">Private</option>
                        <option value="3">Own Business</option>
                        <option value="3">Other</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="jobCategory">Job Category</label>
                    <select class="custom-select custom-select-sm" id="jobCategory">
                        <!-- use API get the data -->
                        <option selected>--select--</option>
                    </select>
                </div>
            </div>
            <!-- /.job details -->
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="educationLevel">Education Level</label>
                    <select class="custom-select custom-select-sm" id="educationLevel">
                        <!-- use API get the data -->
                        <option selected>--select--</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="educationDetails">Education Details</label>
                    <input type="text" class="form-control form-control-sm" id="educationDetails"
                        placeholder="Job details">

                </div>
            </div>
            <!-- /.educational details -->
            <button class="btn btn-info mr-2" type="submit">Create</button>
            <button class="btn btn-secondary" type="button">Close</button>
        </form>
    </div>
</div>